.Login {
  margin: 60px auto;
  padding-top: 80px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  border: 2px solid #e1e5ee;
  border-radius: 5px;

  .btn {
    button {
      width: 180px;
      height: 30px;
      cursor: pointer;
      background: transparent;
      border: 2px solid #e1e5ee;
      border-radius: 10px;
      outline: none;
      transition: 0.7s ease-in-out;

      &:hover {
        transition: 0.7s ease-in-out;
        background: #e1e5ee;
        border: 2px solid #2a324b;
      }
    }
  }
}
