.Header {
  background: #e1e5ee;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 0px 20px;
  a {
    margin-right: 20px;
    text-decoration: none;
    color: black;

    transition: color 0.3s ease;
    &:hover {
      color: rgb(84, 117, 110);
    }
  }
  .Navbar {
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}
